body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: Inconsolata!important;
}

#root {
  
  min-height: 100%;
}

#sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  /* z-index: 100; */
  padding: 0!important;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  color: rgba(255, 255, 255, 0.8);
  background: rgb(15, 20, 40);
}

/* #sidebar nav {
  height: 100%;
  float: top;
} */

ul {
  list-style-type: none;
  padding: 0;
}

li {
  width: 100%;
  padding: 0.5rem 0 0.5rem 1.5rem;
}

li:hover { 
  color: rgba(255, 255, 255, 0.9);
  background-color: blueviolet;
  text-decoration: none;
}

li.active {
  color: rgba(255, 255, 255, 0.9);
  background-color: blueviolet;
  text-decoration: none;
}

li a{
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 600;
  color: inherit!important;
  padding: 0.25rem 0.5rem;
  margin: 1rem 0;
}

li a :hover {
  text-decoration: none;
}

li a i {
  padding-right: 1rem;
}

nav .navbar {
  width: 100%;
  padding: 0!important;
}

.navbar-brand {
  font-size: 1.2rem;
  font-weight: 800;
  padding: 4rem 0 4rem 0;
}

.sidebar-sticky {
  width: inherit;
}

.sidebar-sticky div span {
  line-height: 2.5rem;
}

/* CONTENT */
p.col {
  margin: 0;
}

.rt-text {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}

#refresh-btn {
  font-size: 1.5rem;
  color: white;
  background: linear-gradient(to right, #021AEE , blueviolet);
}

#last-update-text {
  font-size: 1.5rem;
  font-weight: 600;
}

#content {
  margin-right: 0;
  padding: 4rem 8rem!important;
  letter-spacing: 1px;
}

#rt-div {
  padding: 2rem 1rem 0 1rem;
  border: 2px solid #bdbdbd;
  box-shadow: 2px 2px 4px #bdbdbd;
}

.jumbotron {
  border-radius: 0;
  margin-bottom: 0;
  padding-left: 2rem;
  background-color: transparent;
}

#heading-div{
  padding-top: 0;
  padding-bottom: 0;
}

#rate-div {
  font-weight: 600;
  color: black;
  background-color: transparent;
}

#compare-div {
  padding-top: 0;
}

#update-div {
  
}
.btn-group {
  border-radius: 1rem!important;
  padding-bottom: 1rem;
}

.btn {
  padding: 0rem, 1rem;
}

.btn :hover {
  background-color: rbga(48, 79, 254, 1);
}



#chart-header {
  padding: 1rem 0;
}

/* FOOTER */
footer a {
  padding: 1rem;
}