body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: Inconsolata!important;
}

#root {
  min-height: 100%;
}

main {
  padding: 4rem 0;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  color: white;
  background-color: #263238;
}

.navbar-brand {
  font-size: 1.2rem;
  font-weight: 800;
  padding: 4rem 4rem;
}

ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
}

ul a {
  width: 100%;
  padding: 0;
}

a.nav-link {
  padding: 0.5rem 1.5rem!important;
}

.nav-link.active {
  color: rgba(255, 255, 255, 1);
  background-color: blueviolet;
  text-decoration: none;
}

.nav-link:hover { 
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(138, 43, 226, 0.4);
  text-decoration: none;
}

a.nav-link, li a {
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 600;
  color: inherit!important;
  padding: 0 1.5rem;
  margin: 0;
}

/* li a :hover {
  text-decoration: none;
} */

li a i, a.nav-link i {
  padding-right: 1rem;
}

/* MAIN  */
#refresh-btn {
  border-radius: 1rem;
  border: none;
  font-size: 1rem;
  padding: 0rem 1rem;
  color: white;
  background: linear-gradient(to right, #021AEE , blueviolet);
}

.heading {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0;
}

#content {
  margin-right: 0;
  padding: 4rem 8rem!important;
  letter-spacing: 1px;
}

.rt-text {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.6);
}

#realtime-div {
  margin-bottom: -8rem;
  padding: 1rem;
  border: 2px solid #bdbdbd;
  box-shadow: px 2px 4px #bdbdbd;
}

.jumbotron {
  padding: 0.5rem 1rem;
  border-radius: 0;
  margin-bottom: 0;
  padding-left: 2rem;
  background-color: transparent;
}

#rate-div {
  padding-left: 0;
  color: black;
  background-color: transparent;
}

#rate-div h1 {
  margin: 0;
}

.fw-600 {
  font-weight: 600;
}

.btn-group {
  border-radius: 1rem!important;
  padding-bottom: 1rem;
}

.btn :hover {
  background-color: rbga(48, 79, 254, 1);
}

.btn-group .btn {
  background-color: rgba(137, 43, 226, 0.1);
}

.btn-group .btn.active {
  background-color: rgba(137, 43, 226, 0.8);
}



/* FOOTER */
footer a {
  padding: 1rem;
}