body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: Inconsolata!important;
}

#root {
  min-height: 100%;
}

#sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  color: black;
  background: #eee0ff;
}

#sidebar nav {
  height: 100%;
  float: top;
}

ul {
  list-style-type: none;
  padding: 0;
}

li a{
  font-size: 1rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  padding: 0.25rem 0.5rem;
  margin: 1rem 0;
}

li a:hover {
  
  background-color: #ECE7DE;
  color: #bbc5a2;
  text-decoration: none;
}

#chart-options {
  padding-left: 1rem;
}
.navbar-brand {
  font-size: 1.2rem;
  font-weight: 800;
  padding: 2rem 0 4rem 0;
}

.sidebar-sticky div span {
  line-height: 2.5rem;
}



/* CONTENT */
#content {
  margin-right: 0;
  display: block;
  padding: 0 8rem!important;
  letter-spacing: 2px;
}

.jumbotron {
  border-radius: 0;
  margin-bottom: 0;
  padding-left: 2rem;
}

#rate-div {
  color: white;
  background-color: #FA724F;
}
#compare-div{

} 
#update-div {
  background-color: #ECE7DE;
}

.btn {
  width: 100%;
  letter-spacing: 2px;
  border-radius: 0;
  background-color: rgb(48, 255, 186);
}

/* FOOTER */
footer a {
  padding: 1rem;
}